body,html{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:#333;
    color:white;
    padding:lrem;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
}
.nav-links{
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
}
.nav-links li{
    margin:0 1rem;
}
.nav-links a{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
}
.hamburger{
    display:none;
    flex-direction: column;
    cursor:pointer;
}
.hamburger span{
    background: white;
    margin:3px 0;
    width:25px;
    height:3px;
}
@media(max-width:768px){
    .nav-links{
        display:none;
        flex-direction: column;
        width:100%;
        text-align: center;
    }
    .nav-links li{
        margin:lrem 0;
    }
    .hamburger{
        display: flex;
    }
}
@media(max-width:480px){
 .logo{
    font-size: 1.2rem;
 }
 .nav-links a{
    font-size: lrem;
 }
}
.nav-links.active {
    display: flex;
}